h1 {
  display: flex;
  align-self: center;
  font-weight: bold;
  font-size: 50px;
  line-height: 1;
}

a.newButton {
  width: auto;
  height: auto;
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 1em #6c8cbf, 0 0 0.2em #e2d36b;
}

.insideTitle {
  padding: 5px;
  font-size: 20px;
}

h1 {
  text-align: center;
  margin: 0;
  font-family: "Yanone Kaffeesatz", sans-serif;
}

p {
  margin: 15px;
}

.pair {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#bac94a, #96d7c6);
  width: auto;
  height: auto;
  animation: glow 1s ease-in-out infinite alternate;
  border-radius: 4px;
}

.huge {
  display: flex;
}

@keyframes pair {
  from {
    text-shadow: 0 0 120px #fff, 0 0 120px #fff, 0 0 130px #bac94a,
      0 120px 140px #bac94a, 0 0 150px #bac94a, 0 0 160px #bac94a,
      0 0 170px #bac94a;
  }

  to {
    text-shadow: 0 0 130px #fff, 0 0 130px #96d7c6, 0 0 140px #96d7c6,
      0 120px 150px #96d7c6, 0 0 160px #96d7c6, 0 0 170px #96d7c6,
      0 0 180px #96d7c6;
  }
}

.styles {
  margin-top: 0;
  padding-top: 0;
}

.food {
  margin-top: 10px;
  background: #bac94a;
  width: auto;
  /* text-align: left; */
  padding: 15px;
  border-radius: 2px;
  height: auto;
  font-size: 20px;
}

.intel {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.rand-1 {
  margin-bottom: 5px;
}

.picture {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.food-image {
  display: flex;
  border-radius: 4px;
  align-self: center;
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.popUp {
  display: flex;
  justify-content: center;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);
  overflow: auto;
  z-index: 1;
  padding: 20px;
}

.insidePop {
  padding: 20px;
  display: flex;
  align-items: center;
  align-self: center;
  position: fixed;
  color: black;
  position: relative;
  background-color: #e2d36b; /*here*/
  width: auto;
  height: 100vh;
  border-radius: 4px;
  overflow: auto visible;
}

button {
  cursor: pointer;
  border-radius: 4px;
  border-style: groove solid;
  font-weight: bold;
  padding: 4px;
  background-color: inherit;
}

.close {
  display: flex;
  align-items: center;
  align-self: center;
}

i {
  margin-top: 5px;
  margin-bottom: 5px;
  color: white;
  z-index: 1;
}

/*This is where the flip Instructions animation end*/
@media only screen and (min-width: 768px) and (max-width:1024px) {
  *{
    margin: 0;
    padding: 0;
  }

  html,
  body {
    display: flex;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
  }

  .insidePop {
    width: 700px;
  }

  .randContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    height: auto;
    align-self: center;
  }

  .food {
    width: auto;
  }

  p {
    margin: 15px;
    font-size: 40px;
  }

  .title {
    margin: 0;
  }

  .insideTitle {
    margin: 5px;
    font-size: 30px;
  }

  .outerIntel {
    margin-top: 10px;
  }

  .intel {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .front {
    font-size: 30px;
  }

  .insideIntel {
    padding: 5px;
  }

  a.newButton {
    display: flex;
    margin: 20px;
    padding: 4px;
    font-size: 30px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 1em #6c8cbf, 0 0 0.2em #e2d36b;
  }

  .food-image {
    width: 300px;
    height: 300px;
  }

  .huge {
    font-size: 40px;
  }

  .styles {
    padding: 50px;
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .popUp {
    padding: 300px;
  }

}
/*color palette #5AA7A7 : #96D7C6 : #BAC94A : #E2D36B : #6C8CBF */
