<div class="randContainer">
    <h1>Serve your Meal with a Beverage!</h1>
    <div *ngFor='let meal of meals' class="food">
        <div class="title">
            <div class="insideTitle"><strong><span>Your random food choice:</span></strong> {{meal.title}}</div>
            <div class="insideTitle"><strong><span>Category:</span></strong> {{meal.type}}</div>
            <div class="insideTitle"><strong><span>Origin:</span></strong> {{meal.area}}</div>
        </div>
        <!-- <div class="flipCard">
            <div class="card" onclick="this.classList.toggle('flipped');">
                <div class="side front">Click for Cooking Instructions</div>
                <div class="side back"><strong><span>The Details:</span></strong> {{meal.instructions}}</div>
            </div>
        </div> -->
        <button (click)="toggleInstructionsIf()">Cooking Instructions Here</button>
            <div *ngIf="!isShowDivIf" class="myInstruction">
                <div class="popUp">
                    <div class="insidePop">{{meal.instructions}}</div>
                    <div class="close">
                        <i class="fas fa-times-circle" (click)="toggleInstructionsIf()"></i>
                    </div>
                </div>
            </div>
        <!-- <div><strong><span>Instructional:</span></strong> {{meal.instructions}}</div> -->
        <!--Food dilemma-->
        <div class="outerIntel">
            <div class="intel">
                <!-- the ngIf directive hides the element if it is null ... this was done so 'of' wouldn't show-->
                <p><span>Add the following ingredients:</span></p>
                <div class="insideIntel" *ngIf="meal.measure1"> {{meal.measure1}} {{meal.ingredient1}}</div>
                <div class="insideIntel" *ngIf="meal.measure2"> {{meal.measure2}} {{meal.ingredient2}}</div>
                <div class="insideIntel" *ngIf="meal.measure3"> {{meal.measure3}} {{meal.ingredient3}}</div>
                <div class="insideIntel" *ngIf="meal.measure4"> {{meal.measure4}} {{meal.ingredient4}}</div>
                <div class="insideIntel" *ngIf="meal.measure5"> {{meal.measure5}} {{meal.ingredient5}}</div>
                <div class="insideIntel" *ngIf="meal.measure6"> {{meal.measure6}} {{meal.ingredient6}}</div>
                <div class="insideIntel" *ngIf="meal.measure7"> {{meal.measure7}} {{meal.ingredient7}}</div>
                <div class="insideIntel" *ngIf="meal.measure8"> {{meal.measure8}} {{meal.ingredient8}}</div>
                <div class="insideIntel" *ngIf="meal.measure9"> {{meal.measure9}} {{meal.ingredient9}}</div>
                <div class="insideIntel" *ngIf="meal.measure10"> {{meal.measure10}} {{meal.ingredient10}}</div>
                <div class="insideIntel" *ngIf="meal.measure11"> {{meal.measure11}} {{meal.ingredient11}}</div>
                <div class="insideIntel" *ngIf="meal.measure12"> {{meal.measure12}} {{meal.ingredient12}}</div>
                <div class="insideIntel" *ngIf="meal.measure13"> {{meal.measure13}} {{meal.ingredient13}}</div>
                <div class="insideIntel" *ngIf="meal.measure14"> {{meal.measure14}} {{meal.ingredient14}}</div>
                <div class="insideIntel" *ngIf="meal.measure15"> {{meal.measure15}} {{meal.ingredient15}}</div>
                <div class="insideIntel" *ngIf="meal.measure16"> {{meal.measure16}} {{meal.ingredient16}}</div>
                <div class="insideIntel" *ngIf="meal.measure17"> {{meal.measure17}} {{meal.ingredient17}}</div>
                <div class="insideIntel" *ngIf="meal.measure18"> {{meal.measure18}} {{meal.ingredient18}}</div>
                <div class="insideIntel" *ngIf="meal.measure19"> {{meal.measure19}} {{meal.ingredient19}}</div>
                <div class="insideIntel" *ngIf="meal.measure20"> {{meal.measure20}} {{meal.ingredient20}}</div>
                <div class="picture">
                    <img class="food-image" src="{{meal.image}}" width="100" height="100" alt="Good food">
                </div>

            </div>

        </div>
        <p class="front">&copy;{{title | uppercase}}</p>
        <div class="pair">
            <h1 class="huge">Paired With</h1>
        </div>
        <div class="styles">
            <app-random-list></app-random-list>
            
        </div>

    </div>
    <a routerLink='/random-list' routerLinkActive="active" class="newButton">Go Back to Mixing Drinks</a>

</div>
