a.newButton {
    /* background-color: #e2d36b; */
    width: auto;
    height: auto;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 1em #6C8CBF, 0 0 0.2em #E2D36B;
  }