<h1>MEET THE BARTENDERS</h1>
<div class="container">
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/naywebo5a3k6dcn/maddie_headshot.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Madeleine Dippenaar</h2>
      <p>Bio</p>
      <p>Preferred drink</p>
      <div class="links"><a href="#">GitHub</a> <a href="#">LinkedIn</a></div>
    </div>
  </div>
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/ezhzjdaifobznga/reggie-photo.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Reggie Dixon</h2>
      <p>Grand Circus Alumni 2020-21</p>
      <p>Innovative Student. Creative creator</p>
      <p>Preferred drink: Crown Royal Apple on the rocks no mixer</p>
      <div class="links"><a href="#">GitHub</a> <a href="#">LinkedIn</a></div>
    </div>
  </div>
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/62cj2y2o6y5zmcd/sally_headshot.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Sally Quosto</h2>
      <p>Sally here, a junior Front-End Developer and a recovering ice cream addict! Enjoys playing with her puppy and traveling. Also, the 2020 quarantine sparked a new passion for her, can you guess what it is? It is coding!</p>
      <p>Preferred drink: Mojito</p>
      <div class="links"><a href="https://github.com/sallyquosto">GitHub</a> <a href="https://www.linkedin.com/in/sally-quosto-97785a174/">LinkedIn</a></div>
    </div>
  </div>
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/3hkisyie3h426lt/headshot.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Amy Spencer</h2>
      <p>
        Amy is a front end developer and email marketing pro! When not coding,
        she's mostly just living that quarrantine life at home with her wife,
        kids, and way too many pets.
      </p>
      <p>Preferred drink: Mimosa</p>
      <div class="links">
        <a href="https://github.com/aspencer15">GitHub</a>
        <a href="https://www.linkedin.com/in/amy-spencer-b36b4513/">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
