<h1>MEET THE BARTENDERS</h1>
<div class="container">
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/3rk2ynhjkdj3slf/tater_square.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Madeleine Dippenaar</h2>
      <p>Bio</p>
      <p>Preferred drink</p>
      <div class="links"><a href="#">GitHub</a> <a href="#">LinkedIn</a></div>
    </div>
  </div>
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/ezhzjdaifobznga/reggie-photo.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Reggie Dixon</h2>
      <p>Bio</p>
      <p>Preferred drink</p>
      <div class="links"><a href="#">GitHub</a> <a href="#">LinkedIn</a></div>
    </div>
  </div>
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/3rk2ynhjkdj3slf/tater_square.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Sally Quosto</h2>
      <p>Bio</p>
      <p>Preferred drink</p>
      <div class="links"><a href="#">GitHub</a> <a href="#">LinkedIn</a></div>
    </div>
  </div>
  <div class="bio-container">
    <img
      src="https://www.dropbox.com/s/bn0gvml3ed2rlq1/pic_cocktail.jpg?raw=1"
      alt=""
    />
    <div class="bio">
      <h2>Amy Spencer</h2>
      <p>
        Amy is a front end developer and email marketing pro! When not coding,
        she's mostly just living that quarrantine life at home with her wife,
        kids, and way too many pets.
      </p>
      <p>Preferred drink: Mimosa</p>
      <div class="links">
        <a href="https://github.com/aspencer15">GitHub</a>
        <a href="https://www.linkedin.com/in/amy-spencer-b36b4513/">LinkedIn</a>
      </div>
    </div>
  </div>
</div>
