<h1>MEET THE BARTENDERS</h1>
<div class="container">
  <div class="bio">
      <img src="https://www.dropbox.com/s/3rk2ynhjkdj3slf/tater_square.jpg?raw=1" alt="">
      <h2>Madeleine Dippenaar</h2>
      <p>Bio</p>
      <p>Preferred drink</p>
  </div>
  <div class="bio">
    <img src="https://www.dropbox.com/s/3rk2ynhjkdj3slf/tater_square.jpg?raw=1" alt="">
    <h2>Reggie Dixon</h2>
    <p>Bio</p>
    <p>Preferred drink</p>
  </div>
  <div class="bio">
    <img src="https://www.dropbox.com/s/3rk2ynhjkdj3slf/tater_square.jpg?raw=1" alt="">
    <h2>Sally Quosto</h2>
    <p>Bio</p>
    <p>Preferred drink</p>
  </div>
  <div class="bio">
    <img src="https://www.dropbox.com/s/bn0gvml3ed2rlq1/pic_cocktail.jpg?raw=1" alt="">
    <h2>Amy Spencer</h2>
    <p>Bio: interesting stuff about me will go here</p>
    <p>Preferred drink: Mimosa</p>
  </div>
</div>
