<!--Buttons to the components-->
<div class="title">
    <div class="dropdown">
    <button><i class="fas fa-bars fa-2x"></i></button>
    <div class="ourLinks">
        <a routerLink='/' routerLinkActive="active">Home</a>
        <a routerLink='/random-list' routerLinkActive="active">Randomize it</a>
        <a routerLink='/popular-list' routerLinkActive="active">The Popular</a>
    </div>
</div>
<br>
<br>
<br>
<header>
    <div class="covid">
        <i class="fas fa-cocktail fa-3x" ></i> <h1 class="front">{{title | uppercase}}</h1>
    </div>
</header>

</div>

<router-outlet></router-outlet>
