.fa-cocktail:before {
    content: "\f561";
    display: flex;
    margin-bottom: 10px;
}

/* @media only screen and (min-width: 1000px) {
    .fa-bars {
        display: hidden;
    }

    .ourLinks {
    display: flex;
    justify-content: space-around;
    }
    
} */