form.ng-untouched.ng-pristine.ng-valid {
    text-align: center;
}

.drink-search {
    text-align: center;
}

h3 {
    text-align: center;
    margin: 0px;
}

button {
    background-color: #96d7c6;
    border: none;
    padding-left: 5px;
    outline: none;
    background-color: #bac94a;
}

.search-portion {
    background-color: #bac94a;
    padding: 10px;
    text-align: center;
}

/* media query for tablet size */
@media only screen and (min-width: 768px) {
    
}

/* media query for desktop */
@media only screen and (min-width: 1000px) {
    .search-portion {
        background-color: #bac94a;
        padding: 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
    }

    .drink-search {
        text-align: center;
    }

    h3 {
        text-align: center;
        margin-top: 7px;
        padding-right: 10px;
    }
}