.menu {
  background: #5aa7a7;
  width: auto;
  /* text-align: left; */
  padding: 15px;
  border-radius: 2px;
  height: auto;
  font-size: 20px;
}

.intel {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* font-size: 25px; */
  align-self: center;
}

.insideTitle {
  display: flex;
  padding: 3px;
  font-size: 20px;
}

span {
  padding: 3px;
}

a.newButton {
  /* background-color: #e2d36b; */
  width: auto;
  height: auto;
  font-size: larger;
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
  text-shadow: 1px 1px 2px white, 0 0 1em #6c8cbf, 0 0 0.2em #e2d36b;
}

.reload {
  display: flex;
  background-color: #e2d36b;
  width: auto;
  height: auto;
  padding: 5px;
  margin: auto;
  border-radius: 4px;
  border-style: none;
  /* text-decoration: none; */
  color: black;
  cursor: pointer;
}
/*not used below*/
.glow {
  animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px #fff, 0 0 20px #fff, 0 0 30px #bac94a,
      0 20px 40px #bac94a, 0 0 50px #bac94a, 0 0 60px #bac94a, 0 0 70px #bac94a;
  }

  to {
    text-shadow: 0 0 30px #fff, 0 0 30px #96d7c6, 0 0 40px #96d7c6,
      0 20px 50px #96d7c6, 0 0 60px #96d7c6, 0 0 70px #96d7c6, 0 0 80px #96d7c6;
  }
}

.picture {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.cocktail-image {
  display: flex;
  border-radius: 4px;
  align-self: center;
  width: 200px;
  height: 200px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.front {
  margin: 0;
}

.flipCard {
  perspective: 800;
   height: 150px;
   position: relative;
   margin: 50px auto;
}
.flipCard .card.flipped {
  transform:rotatey(-180deg);
}

.flipCard .card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.5s;
}
.flipCard .card .side {
  width: 100%;
  height: 100%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  box-sizing: border-box;
  z-index: 2;
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  overflow: auto;
}
.flipCard .card .back {
  background: white;
  color: black;
  transform:rotatey(-180deg);
}

.flipCard .card .front {
  text-align: center;
  line-height: 120px;
  background-color: #5aa7a7;
  color: black;
  border-radius: 4px;
}
.flipCard .card .back {
  background-color: #6C8CBF;
  border: 3px solid white;
  text-align: center;
  color: black;
  border-radius: 4px;
  padding-top: 15px;
}

/*Designing for iPad starts here*/
@media only screen and (min-width: 768px) {
  * {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    display: flex;
    height: 100%;
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    scroll-behavior: smooth;
  }
  .rand-1 {
    display: flex;
    justify-content: center;
    margin: 0;
    height: auto;
    align-self: center;
  }

  .menu {
    width: 700px;
  }

  span {
    text-decoration: none;
    padding: 5px;
  }

  .title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
  }

  .insideTitle {
    display: flex;
    padding: 5px;
    font-size: 30px;
  }

  .intel {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 20px;
  }

  .insideIntel {
    padding: 5px;
  }

  p {
    margin: 15px;
    font-size: 40px;
  }

  .reload {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 4px;
    color: inherit;
    appearance: none;
    font-size: 1em;
    line-height: 1.2;
    padding: 2px;
    border-width: 2px;
    border-style: solid;
  }

  .back {
    font-size: 25px;
  }

  .front {
    font-size: 30px; 
  }

  .cocktail-image{
    width: 300px;
    height: 300px;
  }

}

/*Designing for iPad stops here*/
/*Designing for desktop starts here*/

@media only screen and (min-width: 1024px) {
  .menu {
    width: 900px;
  }

  p {
    margin: 0;
  }
  
  .reload {
    margin-bottom: 30px;
  }
}

/*color palette #5AA7A7 : #96D7C6 : #BAC94A : #E2D36B : #6C8CBF */
