.menu {
    background: #bac94a;
    width: auto;
    /* text-align: left; */
    padding: 15px;
}

.intel {
display: flex;
flex-direction: column;
text-align: center;
padding: 10px;
font-weight: bold;
}