<br>
<br>
<br>
<div class="rand-1">
</div>
<div class="menu-a">
    <!-- ngFor renders a template for each item in our collection from our interface-->
    <div *ngFor='let cocktail of cocktails' class="menu">

        <div><strong><span>Your random choice:</span><br></strong> {{cocktail.name}}</div>
        <div><strong><span>Category:</span><br></strong> {{cocktail.category}}</div>
        <div><strong><span>Alcohol Content:</span><br></strong> {{cocktail.alcoholic}}</div>
        <div><strong><span>Instructions:</span><br></strong> {{cocktail.instructions}}</div><br>
        <div class="intel">
            <!-- the ngIf directive hides the element if it is null ... this was done so 'of' wouldn't show-->
            <p><span>Add the following ingredients:</span></p>
            <div *ngIf="cocktail.measure1"> {{cocktail.measure1}} of {{cocktail.ingredient1}}</div>
            <div *ngIf="cocktail.measure2"> {{cocktail.measure2}} of {{cocktail.ingredient2}}</div>
            <div *ngIf="cocktail.measure3"> {{cocktail.measure3}} of {{cocktail.ingredient3}}</div>
            <div *ngIf="cocktail.measure4"> {{cocktail.measure4}} of {{cocktail.ingredient4}}</div>
            <div *ngIf="cocktail.measure5"> {{cocktail.measure5}} of {{cocktail.ingredient5}}</div>
            <div *ngIf="cocktail.measure6"> {{cocktail.measure6}} of {{cocktail.ingredient6}}</div>
            <div *ngIf="cocktail.measure7"> {{cocktail.measure7}} of {{cocktail.ingredient7}}</div>
            <div *ngIf="cocktail.measure8"> {{cocktail.measure8}} of {{cocktail.ingredient8}}</div>
            <div class="picture">
                <img class="cocktail-image" src="{{cocktail.image}}" width="100" height="100"
                    alt="picture of alcoholic beverage">
            </div>
            <div class="glow">
                <input class="reload" type="button" value="View Another" onClick="history.go(0)"><br>
                <a routerLink='/random-mix' routerLinkActive="active" class="newButton">Click here and try our new pair a meal</a><br>
                <p>with a drink!</p>
            </div>
        </div>
        <p class="front">&copy;{{title | uppercase}}</p>

    </div>

</div>