<h1>Random List of the Best Drinks</h1>

<div *ngFor='let cocktail of cocktails' class="menu">

<div>Our Random choice: {{cocktail.name}}</div>
<div>Category: {{cocktail.category}}</div>
<div>Alcoholic: {{cocktail.alcoholic}}</div>
<div>Instructions: {{cocktail.instructions}}</div>
<div> {{cocktail.measure1}} of {{cocktail.ingredient1}}</div>
<div> {{cocktail.measure2}} of {{cocktail.ingredient2}}</div>
<div> {{cocktail.measure3}} of {{cocktail.ingredient3}}</div>
<div> {{cocktail.measure4}} of {{cocktail.ingredient4}}</div>
<div> {{cocktail.measure5}} of {{cocktail.ingredient5}}</div>
<div> {{cocktail.measure6}} of {{cocktail.ingredient6}}</div>
<div> {{cocktail.measure7}} of {{cocktail.ingredient7}}</div>
<div> {{cocktail.measure8}} of {{cocktail.ingredient8}}</div>

</div>
