.menu {
    background: #6C8CBF;
    width: auto;
    /* text-align: left; */
    padding: 15px;
    border-radius: 2px;
    height: auto;
    font-size: 20px;
}

.intel {
display: flex;
flex-direction: column;
text-align: center;
padding: 10px;
font-weight: bold;
font-size: 20px;
}

a {
    background-color: #E2D36B;
    width: auto;
    height: auto;
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.rand-1 {
    margin-bottom: 5px;
}

.reload,button {
    display: flex;
    background-color: #E2D36B;
    width: auto;
    height: auto;
    padding: 5px;
    margin: auto;
    border-radius: 4px;
    text-decoration: none;
    color: black;
}

.picture {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

.cocktail-image {
    display: flex;
    border-radius: 4px;
    align-self: center;
    width: 200px;
    height: 200px;
}

span {
    text-decoration: underline;
}