<button (click)="navHome()">Return to Home</button>
<div *ngFor="let cocktail of cocktails">
    <div>Drink Name: {{cocktail.name}}</div>
    <img src="{{cocktail.image}}" (click)="onSelect(cocktail)">
</div>
<div class="popup-wrapper" *ngIf="selectedCocktail">
    <h2>{{selectedCocktail.name}} Details</h2>
    <div>
        <div>{{selectedCocktail.name}}</div>
        <div>{{selectedCocktail.category}}</div> 
        <div>{{selectedCocktail.instructions}}</div> 
        <div>{{selectedCocktail.alcoholic}}</div> 
    </div>
</div>
