img {
    height: 100px;
    width: 100px;
}

.cocktail-list{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden; 
    overflow-y: auto;
    width: auto; 
    height: 550px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.cocktail-image{
  height:200px;
  width:150px;
  margin: 15px;
  position: relative;
  box-shadow: 5px 5px 5px;
}

h2 {
  justify-content: space-between;
  text-align: center; 
  padding: 0px;
  margin: 0px;
  font-size: 11px;
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(8, 10, 12, 0.9);
    height: 100vh;
    width: 100%;
    z-index: +1;
  }

  .popup-boxes {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: +1;
    width: auto;
    height: auto;
    color: white;
    background-color: #111419;
    border-radius: 10px;
    max-height: 100%;
    height: 100%;
    overflow-y: scroll!important;
  }

  .details-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    height: auto;
    padding: 3px;
    margin-top: 5px;
    text-align: center; 
  }

  .ingredients {
    display: flex;
  }

  .measurement {
    flex: 1;
  }

  .ing {
    margin-left: 3px;
  }

  .returnButton {
    display: flex;
    justify-content: center;
    background-color: #5AA7A7;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    padding: 8px 20px;
    border-radius: 15px;
}

  #details-close-btn {
      display: flex;
      align-items: center;
  }

  @media only screen and (min-width: 768px) { 
      

  }