.carousel {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden; 
    overflow-y: auto;
    width: auto; 
    height: 550px;
    justify-content: center;
    align-items: center;
}

.cocktail-image {
    height:200px;
    width:150px;
    margin: 15px;
    position: relative;
    box-shadow: 5px 5px 5px;
}

h1 {
    font-size: 20px;
    text-align: center;
    background: rgb(5 6 5 / 50%);
    margin: 0;
}

h2 {
    justify-content: space-between;
    text-align: center; 
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

.name {
    color: #fff;
    text-shadow: #343a40 2px 2px;
    background: rgb(5 6 5 / 30%);
    position: relative;
    top: -54px;
    width: 83%;
    left: 15px;
}
img {
    height: 100px;
    width: 100px;
}

.popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(8, 10, 12, 0.9);
    height: 100vh;
    width: 100%;
    z-index: +1;
  }

  .popup-boxes {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: +1;
    width: auto;
    height: auto;
    color: white;
    background-color: #111419;
    border-radius: 10px;
    max-height: 100%;
    height: 100%;
    overflow-y: scroll!important;
  }

  .details-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
  }

  .details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    height: auto;
    padding: 3px;
    margin-top: 5px;
    text-align: center; 
  }

  #details-close-btn {
      display: flex;
      align-items: center;
  }
/* media query for tablet size */
@media only screen and (max-width: 768px) {
    
}

/* media query for desktop */
@media only screen and (max-width: 1000px) {
    
}
