.carousel{
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden; 
    overflow-y: auto;
    width: auto; 
    height: 550px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.cocktail-image{
    height:250px;
    width:200px;
    margin: 15px;
    position: relative;
}

h2{
    justify-content: space-between;
    text-align: center;
    position: relative;
    top: -60px;
    padding: 0px;
    margin: 0px;
}


