<!-- <p>popular-list works!</p> -->
<div class="pop-cocktail">
    <h1>POPULAR DRINKS</h1>
<div class="mobile-display" *ngIf="cocktails">
    <div *ngFor="let cocktail of cocktails">
        <img class="cocktail-image" src="{{cocktail.image}}" (click)="onSelect(cocktail)">
        <h2>{{cocktail.name}}</h2>
    </div>
</div>

<!-- <button type="button" class="btn btn-dark">Dark</button> -->

    <div class="desktop-view">
        <div class="item">
                <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="5000">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel"
                        *ngFor="let group of groups"
                        [attr.data-slide-to]="this.group.groupId - 1"
                        [ngClass]="{'active': group.groupId === 1}"></li>
                    </ol>   
             
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{'active': group.groupId === 1}" *ngFor="let group of groups">
                            <div class="row">
                                <div class="col-sm-3" *ngFor="let cocktail of group.Cocktails">
                                    <div class="img-box">
                                        <img class="desktop-cocktail-img" src="{{cocktail.image}}" (click)="onSelect(cocktail)" alt="">
                                        <h2 class="name">{{cocktail.name}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Carousel controls -->
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
                        <i class="fa fa-chevron-left"></i>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next">
                        <i class="fa fa-chevron-right"></i>
                    </a>
                </div>
        </div>
    </div>

<div *ngIf="selectedCocktail">
    <div class="popup-overlay">
        <div class="popup-boxes">
            <div class="details-box">
                <div class="image-container">
                    <img src="{{selectedCocktail.image}}">
                </div>
                <div class="details">
                    <div>{{selectedCocktail.name}}</div>
                    <div>{{selectedCocktail.category}}</div>  
                    <div>{{selectedCocktail.alcoholic}}</div>
                    <div *ngIf="selectedCocktail.measure1"> {{selectedCocktail.measure1}} of {{selectedCocktail.ingredient1}}</div>
                    <div *ngIf="selectedCocktail.measure2"> {{selectedCocktail.measure2}} of {{selectedCocktail.ingredient2}}</div>
                    <div *ngIf="selectedCocktail.measure3"> {{selectedCocktail.measure3}} of {{selectedCocktail.ingredient3}}</div>
                    <div *ngIf="selectedCocktail.measure4"> {{selectedCocktail.measure4}} of {{selectedCocktail.ingredient4}}</div>
                    <div *ngIf="selectedCocktail.measure5"> {{selectedCocktail.measure5}} of {{selectedCocktail.ingredient5}}</div>
                    <div *ngIf="selectedCocktail.measure6"> {{selectedCocktail.measure6}} of {{selectedCocktail.ingredient6}}</div>
                    <div *ngIf="selectedCocktail.measure7"> {{selectedCocktail.measure7}} of {{selectedCocktail.ingredient7}}</div>
                    <div *ngIf="selectedCocktail.measure8"> {{selectedCocktail.measure8}} of {{selectedCocktail.ingredient8}}</div>
                    <div *ngIf="selectedCocktail.measure9"> {{selectedCocktail.measure9}} of {{selectedCocktail.ingredient9}}</div>
                    <div *ngIf="selectedCocktail.measure10"> {{selectedCocktail.measure10}} of {{selectedCocktail.ingredient10}}</div>
                    <div *ngIf="selectedCocktail.measure11"> {{selectedCocktail.measure11}} of {{selectedCocktail.ingredient11}}</div>
                    <div *ngIf="selectedCocktail.measure12"> {{selectedCocktail.measure12}} of {{selectedCocktail.ingredient12}}</div>
                    <div *ngIf="selectedCocktail.measure13"> {{selectedCocktail.measure13}} of {{selectedCocktail.ingredient13}}</div>
                    <div *ngIf="selectedCocktail.measure14"> {{selectedCocktail.measure14}} of {{selectedCocktail.ingredient14}}</div>
                    <div *ngIf="selectedCocktail.measure15"> {{selectedCocktail.measure15}} of {{selectedCocktail.ingredient15}}</div>
                    <div>{{selectedCocktail.instructions}}</div>
                    <i class="fas fa-times" id="details-close-btn" (click)="closePopup()"></i>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

